.idea/*
.idea/CryptoNews.iml/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Build generated
build/
DerivedData/
output/

Pods/*

## Various settings
xcuserdata/
*.xcworkspace/

*.DS_Store

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.cer
*.mobileprovision
*.objects.filelist

Templates/
